# {{ ansible_managed }}

# Root alias
root: {{ msmtp_alias_root if msmtp_alias_root is defined else msmtp_alias_default }}
{% if msmtp_aliases is defined %}

# Aliases
{% for msmtp_alias in msmtp_aliases %}
{{ msmtp_alias.source }}: {{ msmtp_alias.destination }}
{% endfor %}
{% endif %}

# Default alias
default: {{ msmtp_alias_default }}
